.footer-bg{
    background-color: var(--footerBg);
    padding: 60px 0 0;
    margin-top: 60px;
}
.footer_social_links{
    margin-top: 20px;
}
.footer_social_links h2{
    color: var(--mainHeading);
    font-size: var(--textMainHeadingFooterFontSize);
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.footer_social_links ul{
    display: flex;
    list-style: none;
}
.footer_social_links ul li{

}
.footer_social_links ul li a{
    padding: 10px 0;
    font-weight: 500;
    width: 50px;
    height: 50px;
    background: var(--secondaryColor);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 50%;
    transition: 0.5s all ease;
    cursor: pointer;
}
.footer_social_links ul li a:hover{
    background: var(--primaryColor);
}
.footer_content  h2{
    color: var(--mainHeading);
    font-size: var(--textMainHeadingFooterFontSize);
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 35px;
}
.footer_content ul{

}
.footer_content ul li{
    
}
.footer_content ul li a{
    color: var(--paraColor) !important;
    display: block;
    margin: 15px 0;
    font-weight: 500;
    text-transform: capitalize;
    transition: 0.5s all ease;
    cursor: pointer;
}
.footer_content ul li a:hover{
    color: var(--primaryColor) !important;
}
.footer_content ul li a i{
    margin-right: 10px;
}
.image-content p{
    color: var(--paraColor) !important;
    padding: 10px 0;
    font-weight: 500;
}
.footer_content.footer_content_contact ul li a{
    text-transform: lowercase;
}
.copyright_text {
    padding: 10px 0;
    border-top: 1px solid #ddd;
    margin-top: 50px;
}
.copyright_text p{
    color: var(--paraColor) !important;
    padding: 10px 0;
    font-weight: 500;
    font-size: 14px;
}
@media (max-width: 1024px) {
    .footer_social_links h2{
        font-size: var(--textMainHeadingFooterFontSize);
    }
    .footer_content  h2{
        font-size: var(--textMainHeadingFooterFontSize);
        margin-bottom: 15px;
    }
    .footer_social_links{
        margin-top: 20px;
    }
    .copyright_text p{
        font-size: 12px;
    }
}