.web-banner{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.banner-heading h1{
    color: var(--bgSections);
    font-size: 75px;
    text-transform: capitalize;
    font-weight: 700;
}
@media (max-width: 1024px) {
    .banner-heading h1{
        font-size: 45px;
        margin-top: 80px;
    }
    .web-banner {
        height: 30vh;
    }
}