.navbar-nav li a {
    padding: 0;
    font-weight: 500;
}

.navbar-nav li:not(:last-child) {
    margin-right: 25px;
    line-height: 1;
    height: max-content;
    display: inline-block;
    vertical-align: middle;
}
header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
}