:root{
  --primaryColor: #3B6F4F;
  --bgSections: #F3F6FA;
  --textColor:#606060;
  --whiteColor:#FFFFFF;
  --blackColor:#0A0A0A;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  padding: 0;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,h2,h3,h4,h5,h6,p,label,span{
  margin: 0;
}
button.rippleButton{
  border-radius: 52px;
  font-size: 17px;
  font-weight: 500;
  padding: 15px 40px;
  border: none;
  outline: none;
  box-shadow: none;
}